

<div class="container-fluid text-center bg-dark text-white p-1"><h2>Make Your To Do List</h2></div>

<div class="container ">

<div class="row m-4 justify-content-center" [class.d-none]="displayval">
<div class="col-md-6">
  <input type="text" name="" class="form-control"  #todoval placeholder="Enter To Do List Name">

</div>
<div class="col-md-4 text-center">

  <button type="button" class="btn btn-primary   btn_center" (click)="todolistFuncetion(todoval)" >Add</button>

</div>
 
</div>

<div class="justify-content-center row m-4" [class.d-none]="displayval1" >
  <div class="col-md-6" >
 
  <input type="text" name="" class="form-control" #todoitem  value={{itemname}}> 
  <input type="hidden" name="" class="form-control"  #todoitemindex value={{indexval}}></div>
  <div class="col-md-4  text-center">
  <button type="button" class="btn btn-primary btn_center" (click)="edittodo(todoitem,todoitemindex)" >Update</button></div>

</div>


<div class="row m-4 justify-content-center ">
  <div class=" col-md-6 btn_center  "><b>Task</b></div>
  <div class="col-md-4 cls-none text-center  " >Action</div>
  <div class="col-md-10 "><hr></div>
  
</div>

 


    <div class="row ml-4 mr-4 justify-content-center" *ngFor="let item of todolist;  index as i">

      <div class="col-xs-6 col-md-6 text_center">{{item}} </div>
      <div class="col-xs-6  col-md-4  text-center btn_center " > 
        <button type="button" class="btn btn-danger" (click)="updateItem(item)" >Edit</button>&nbsp;
     <button type="button" class="btn btn-danger" (click)="removeTodoitem(i)" >Remove</button>
      </div>
   
      <div class="col-md-10 "><hr></div>
        </div>




        





</div>